alembic
bcrypt==3.2.0
cryptography
databases
email-validator
fastapi==0.115.0
httpcore
httptools
httpx
passlib==1.7.4
psycopg2-binary
pydantic
pydantic-core
PyJWT
pyngrok
python-multipart
requests
requests-toolbelt
sqlalchemy
starlette
typing-extensions
urllib3
uvicorn
watchfiles
websockets
typing
google-auth
fastapi_mail
python-jose[cryptography]


# fastapi
# sqlalchemy
# passlib
# psycopg2-binary
# python-jose[cryptography]
# pycryptodom
# google-auth